*{
    font-family: monospace;
}
html{
    cursor: none;
}
.moon{
    position: relative;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: -20px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: -7px 2px 0 4px rgba(248, 46, 253, 0.73);
    transform: rotate(-10deg);
    padding: 20px;
}
.dark-mode-moon{
    box-shadow: -7px 2px 0 4px #dea1de !important;
}
.dark-mode-marqueeText{
    color: #fffba1 !important;
}
.dark-mode {
    background-color: #2b442b;
    color: #fffba1;!important;
}
.dark-mode-shadow{
    box-shadow: none;
}
.dark-mode-border{
    background-color: #385b38 !important;
    border: 3px solid #fffba1 !important;
}
.dark-mode a {
    color: #fffba1;!important;
}
.dark-mode a:hover{
    color: #dea1de;!important;
}
/*page fade*/
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
audio{
    display: none;
}
#circularCursor {
    background-color: transparent;
    border:1px solid black;
    height:20px;
    width:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 1;
}
#border{
    border: 3px solid #3b4649;
    background-color: rgba(235, 255, 161, 0.54);
}
body{
    background-color: rgb(255, 251, 161);
}
.jordan{
    font-size: 30px;
    text-align: center;
}
.marquee{
    font-size: 15px;
}
a{
    text-decoration: none;
    color: black;
    cursor: none;
    margin: 10px;
}
a:hover{
    color: rgb(249, 75, 255);
    cursor: none;
}
/*marquee*/
.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
}
.marquee span {
    font-size: 1em;
    color: #3b4649;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: marquee 25s linear infinite;
    -webkit-animation: marquee 25s linear infinite;
    animation: marquee 27s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes marquee {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee{
    0%   {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
/*project display*/
#project-display{
    box-shadow: 10px 15px 15px rgb(30, 40, 34);
}
#project-display:hover {
    transition: width 1s, height 1s, transform 1s ease;
    transform-origin: -50%;
    transform: scale(1.7);
}
#paragraph-one{
    font-size: 30px;
}
#paragraph-two{
    font-size: 15px;
}
#paragraph-three{
    font-size: 15px;
    float: right;
}

